<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}" >   
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <ul class="messages">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
      </ul>
      <div id="register">
        <h1>Registration</h1>
        <form action="/register" method="POST">
          {% csrf_token %}
          <p>First Name <input type="text" name="first_name" /></p>
          <p>Last Name <input type="text" name="last_name" /></p>
          <p>Email <input type="text" name="email" /></p>
          <p>Password <input type="password" name="password" /></p>
          <p>Confirm PW <input type="password" name="confirm_pw" /></p>
          <button>Register</button>
          <input type="hidden" name="which_form" value="register" />
        </form>
      </div>
      <div class="login">
        <h1>Log In</h1>
        <form action="/login" method="POST">
          {% csrf_token %}
          <p>Email <input type="text" name="email" /></p>
          <p>Password <input type="password" name="password" /></p>
          <button>Log In</button>
          <input type="hidden" name="which_form" value="login" />
        </form>
      </div>
    </div>
  </body>
</html>
