<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">    
</head>
<body>
    <div>
    <h1>Welcome to Great Number Game!</h1>
<p>I am thinking of a number between 1 and 100</p>
<p>Take a guess!</p>
<form action="process/" method="post">
    {% csrf_token %}

	<input type="text" name="guess">
	<br><br>
	<input type="submit" value="Submit" id="submit">
</form>
</div>
</body>
</html>