<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>show</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
  </head>
  <body>
      <h1>Welcome to Great Number Game!</h1>
      <p>I am thinking of a number between 1 and 100</p>
      <p>Take a guess!</p>
    {% if result == 1 %}
    <div class="low">too low</div>
    {% elif result == 2 %}
    <div class="high">too high</div>
    {% else %}
    <div class="right">youre right</div>
    {% endif %}
  </body>
</html>
