
.high{
    background-color:red;
    width:200px;
    height:200px;
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 50px;
    
    
}
.low{
    background-color: red;
    width:200px;
    height:200px;
    text-align: center;
    color: white;
    font-size: 30px;
    padding: 50px;
}
.right{
    background-color: green;
    width:200px;
    height:200px;
    text-align: center;
    padding: 30px;
    color: white;
    font-size: 30px;
    padding: 50px;
}
