<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   
 
    <main >
        <div style="position:absolute; top: 150px; left: 300px; " >
            <form action="/" method="get">
            <h1 name="name">Counter :</h1>
            <h4 style="font-size: 15px">{{t}} </h4>


            </form>
        </div>
       
    </main>
    
</body>
</html>